Federal gov data from USCS 
https://www.cdc.gov/cancer/uscs/dataviz/download_data.htm

Looking specifically at the BYAREA.TXT file from the 1999-2017 dataset, which should give us CI on rates (age adjusted and not), location of cancer, and sex by year.

In [23]:
import pandas as pd
import numpy as np

df = pd.read_csv('BYAREA.txt',sep="|",low_memory=False)
df.replace(['~','+'],np.nan)
print(df.size)
#df.replace("+",np.nan)

16039296

In [24]:
# Lets delete the less interesting data
df.drop(columns=["AGE_ADJUSTED_CI_LOWER","AGE_ADJUSTED_CI_UPPER","CRUDE_CI_LOWER","CRUDE_CI_UPPER"])

,AREA,AGE_ADJUSTED_RATE,COUNT,EVENT_TYPE,POPULATION,RACE,SEX,SITE,YEAR,CRUDE_RATE
0,Alabama,367.2,9299,Incidence,2293259,All Races,Female,All Cancer Sites Combined,1999,405.5
1,Alabama,165.5,4366,Mortality,2293259,All Races,Female,All Cancer Sites Combined,1999,190.4
2,Alabama,369.5,9474,Incidence,2302835,All Races,Female,All Cancer Sites Combined,2000,411.4
3,Alabama,165.7,4425,Mortality,2302835,All Races,Female,All Cancer Sites Combined,2000,192.2
4,Alabama,385.2,9971,Incidence,2309496,All Races,Female,All Cancer Sites Combined,2001,431.7
...,...,...,...,...,...,...,...,...,...,...
1145659,Wyoming,3.1,20,Mortality,551538,White,Male and Female,Urinary Bladder,2015,3.6
1145660,Wyoming,18.7,127,Incidence,549909,White,Male and Female,Urinary Bladder,2016,23.1
1145661,Wyoming,3.3,21,Mortality,549909,White,Male and Female,Urinary Bladder,2016,3.8
1145662,Wyoming,21.6,150,Incidence,544321,White,Male and Female,Urinary Bladder,2017,27.6
1145663,Wyoming,2.7,18,Mortality,544321,White,Male and Female,Urinary Bladder,2017,3.3

In [25]:
# Also, this file is so large, what happens if we restrict to five year intervals? (2019, 201)
# first lets delete any ranges by changing them to 0
df.YEAR=df.YEAR.apply(lambda x: np.where(x.isdigit(),x,0))
df.YEAR = df.YEAR.astype("int64")
df.dtypes

AREA                     object
AGE_ADJUSTED_CI_LOWER    object
AGE_ADJUSTED_CI_UPPER    object
AGE_ADJUSTED_RATE        object
COUNT                    object
EVENT_TYPE               object
POPULATION                int64
RACE                     object
SEX                      object
SITE                     object
YEAR                      int64
CRUDE_CI_LOWER           object
CRUDE_CI_UPPER           object
CRUDE_RATE               object
dtype: object

In [26]:
# Lets look at what years we have the most data from
df.groupby('YEAR').count()

,AREA,AGE_ADJUSTED_CI_LOWER,AGE_ADJUSTED_CI_UPPER,AGE_ADJUSTED_RATE,COUNT,EVENT_TYPE,POPULATION,RACE,SEX,SITE,CRUDE_CI_LOWER,CRUDE_CI_UPPER,CRUDE_RATE
YEAR,,,,,,,,,,,,,
0,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
1999,55374,55374,55374,55374,55374,55374,55374,55374,55374,55374,55374,55374,55374
2000,55670,55670,55670,55670,55670,55670,55670,55670,55670,55670,55670,55670,55670
2001,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558
2002,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558,56558
2003,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2004,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2005,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2006,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2007,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2008,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2009,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2010,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2011,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2012,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2013,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2014,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2015,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2016,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594
2017,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594,57594

In [29]:
#have 57594 entroes for each year, will delete all but 2017, 2012, 2007, 2002 to give some yearly indication of the data
df_lessYears = df[(df['YEAR'] ==2002) | (df['YEAR'] ==2007) | (df['YEAR'] ==2012) | (df['YEAR'] ==2017)]
df_lessYears.size

3210760

In [30]:
df_lessYears
df_lessYears.to_csv("limited_years.csv") # dataset now 24 mb - much more managable. Now need to think about structure

In [22]:

#Old work
#df.to_csv("cleaned_Dropped.csv")
#dtypes = {"AREA":"string","AGE_ADJUSTED_RATE" : float, "COUNT": int, "EVENT_TYPE":"string", 
          #"POPULATION" :int, "RACE":"string", "SEX":"string","SITE":"string","YEAR":int,"CRUDE_RATE":float} 
#df = pd.read_csv('cleaned_Dropped.csv',sep=",",dtype=dtypes)
#df.dtypes

16039296